
@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');

body{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.img{
    max-width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    display: inline-block;
    list-style-type: none;
}

a:link{
    text-decoration: none;
}
a{
    color: black;
}
.DL{
    font-family: 'Gajraj One', cursive;
    color: black;
}

.anchor{
    color: lightslategray;
}

.show{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 700px;
    width: 700px;
}
.bottom-btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn{
    display: flex;
    justify-content: space-around;
}

.individuals{
    height: auto;
}